.*
fullchain.pem
privkey.pem
!/.gitignore
core
*.x
*~
*.swp
*.swo
# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vim
obj/catch.tx
*.db
*.log
*.seller
*.graph
sample/graph.sav
